
.icon-food-1:before { content: '\e800'; } /* '' */
.icon-hourglass:before { content: '\e801'; } /* '' */
.icon-camera:before { content: '\e802'; } /* '' */
.icon-fast-food:before { content: '\e815'; } /* '' */
.icon-warehouse:before { content: '\e840'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.icon-cart-arrow-down:before { content: '\f218'; } /* '' */
.icon-server:before { content: '\f233'; } /* '' */
